<div class="container">
    <app-modal-employee></app-modal-employee>
    <ng-template #modalDelete>
        <app-modal-delete-employee id="{{id}}" name="{{name}}" index="{{index}}"></app-modal-delete-employee>
    </ng-template>
    <ng-template #modalEdit>
        <app-modal-edit-employee [employee]="employee"></app-modal-edit-employee>
    </ng-template>
    
    <div class="col-lg-4 offset-lg-8 mb-3">
        <input #txtSearch type="text" class="form-control" placeholder="Search..." (keyup.enter)="search(txtSearch.value)">
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees; let i = index">
                <td><a [ngStyle]="{
                    'text-decoration': 'underline',
                    'color': '#3CA4FF',
                    'cursor': 'pointer'
                }" (click)="openModalEdit(modalEdit, employee)">{{employee.name}}</a></td>
                <td>{{employee.dob | formatAge }}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.email}}</td>
                <td appItemEmployee id="{{employee.id}}">
                    <button class="btn btn-outline-primary" (click)="openModalDelete(modalDelete, employee, i)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
      </table>

      <!-- child component callback function in parent component-->
      <app-pagination totalSize="{{totalRows}}" page="{{currentPage}}" (onChange)="onChangeParent($event)" ></app-pagination>

  </div>
  